<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>ProductiviTree</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/timer.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <!-- link to index javascript file in static/js -->
    <script type="text/javascript" src=" {{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <input type="hidden" id="name_exists" value="{{name_exists}}" />
    <img id="background" src=" {{ url_for('static', filename='images/window.jpg') }}" draggable="false">
    {%if name_exists %}
    <div id="welcome-msg">
        <span id="name-display">Welcome back, {{name}}</span>
        <br>
        <span id="grown-count">You have grown {{numPlants}} plants so far</span>
    </div>

    <!-- <a href="/logout" id="logout-button"
        style="background: url('../static/images/logout-button.png'); background-size: 120px auto; background-repeat: no-repeat;"> -->
    <form action="/logout" method="post">
        <input type="hidden" id="numPlants" name="numPlants" value="0{{numPlants}}" />
        <input type="hidden" id="happiness" name="happiness" value="0{{happiness}}" />
        <input type="hidden" id="moneyDB" name="moneyDB" value="{{money}}" />
        <button type="submit" id="logout-button"
            style="background: url('../static/images/logout-button.png'); background-size: 120px auto; background-repeat: no-repeat;"></button>
    </form>
    <!-- </a> -->

    {% else %}
    <div id="basic-msg">
        <span id="basic-display"> Ready to study? <br> Click start!</span>
    </div>

    <a href="/login" id="login-button"
        style="background: url('../static/images/login-signup-button.png'); background-size: 150px auto; background-repeat: no-repeat;"></a>
    {% endif %}
    <div id="timer-container">
        <div id='visible'>
            <div id="leftcontent">
                <p id="mins" class="times">25m </p>
                <p id="secs" class="times">0s </p>
                <h2 id="end"></h2>
            </div>
            <div id="buttons">
                <p id='settings-btn'><button onClick='changeSettings()' style="background: url('../static/images/settings-button.png'); 
                    background-size: 80px auto;">
                    </button></p>
                <p id='start-pause-btn'><button onClick='startPauseBtn()' style="background: url('../static/images/start-button.png'); 
                    background-size: 80px auto;">
                    </button></p>
                <p id='stop-btn'><button onClick='stopTimes()' style="background: url('../static/images/stop-button.png'); 
                    background-size: 80px auto;">
                    </button></p>
            </div>
        </div>
    </div>
    <!-- <img id="tally" src=" {{ url_for('static', filename='images/tally-poster.png') }}" alt="Tally Poster" draggable="false"> -->
    <div id="shelf">
        <img id="coin" src=" {{ url_for('static', filename='images/coin.png') }}" alt="Coin" draggable="false">
        <div id="money">{{money}}</div>
        <img class="img_clickable" id="watering-can" src=" {{ url_for('static', filename='images/watering-can.png') }}"
            alt="Watering Can" draggable="false" onclick="giveWater()">
        <div id="cost-can">10¢</div>
        <img class="img_clickable" id="sun" src=" {{ url_for('static', filename='images/sun.png') }}" alt="Sun"
            draggable="false" onclick="giveSun()">
        <div id="cost-sun">20¢</div>
        <img class="img_clickable" id="fertilizer" src=" {{ url_for('static', filename='images/fertilizer.png') }}"
            alt="Fertilizer" draggable="false" onclick="giveFert()">
        <div id="cost-fert">30¢</div>
    </div>
    <div id="floor">
        <img id="happy-bar" src=" {{ url_for('static', filename='images/0-points.png') }}" alt="Happiness Bar"
            draggable="false">
        <img id="pot" src=" {{ url_for('static', filename='images/pot.png') }}" alt="Pot" draggable="false">
        <img id="plant1" src=" {{ url_for('static', filename='images/plant-stage1.png') }}" alt="Plant Stage 1"
            draggable="false">
        <img id="plant2" src=" {{ url_for('static', filename='images/plant-stage2.png') }}" alt="Plant Stage 2"
            draggable="false">
        <img id="plant3" src=" {{ url_for('static', filename='images/plant-stage3.png') }}" alt="Plant Stage 3"
            draggable="false">
        <img id="bubble" src=" {{ url_for('static', filename='images/speech-bubble.png') }}" alt="Speech Bubble"
            draggable="false">
        <img id="cat" src=" {{ url_for('static', filename='images/cat.png') }}" alt="Cat" onCLick='purr()'
            draggable="false">
    </div>
    <img id="table" src=" {{ url_for('static', filename='images/table.png') }}" alt="Table" draggable="false">
    <img id="radio" src=" {{ url_for('static', filename='images/radio.png') }}" alt="Radio" onCLick='startRadio()'
        draggable="false">

    <script>
        let radioIsOn = false;
        let music = new Audio('../static/audio/dreamy_night.mp3'); //https://www.youtube.com/watch?v=DXuNJ267Vss
        music.loop = true;

        function startRadio() {
            if (!radioIsOn && !catPurring) {
                console.log("play")
                music.play();
                radioIsOn = true;
            }
            else {
                console.log("stop")
                music.pause();
                music.currentTime = 0;
                radioIsOn = false;
            }
        }
        let catPurring = false;
        let purring = new Audio('../static/audio/cat_purr.mp3'); // https://www.youtube.com/watch?v=2Ckbk_flMhQ
        function purr() {
            if (!catPurring && !radioIsOn) {
                console.log("purr")
                purring.play();
                catPurring = true;
            }
            else {
                console.log("stop purr")
                purring.pause();
                purring.currentTime = 0;
                catPurring = false;
            }
        }


    </script>
</body>

</html>