.times {
    display: inline;
    font-size: 40px;
    margin-top: 0px;
}
#visible {
    height: 150px;
    width: 400px;
    position: relative;
}

#leftcontent {
    float: left;
    width: 320px;
}
#buttons {
    margin-top: -6px;
    margin-right: 10px;
    position: relative;
    float: right;
    width: 120px;
}
#buttons button {
    margin-top: -15px;
    width: 80px;
    height: 32px;
    border: none;
}