body {
    margin: 0px;
    font-family: 'Dancing Script', cursive;
    color: #333333;
  }
  
  img {
    position: absolute;
    box-sizing: border-box;
  }
  
  body div {
    position: absolute;
    box-sizing: border-box;
  }
  
  #background {
    position: fixed;
    z-index: -1;
    width: 2000px;
    left: calc(50% - 1000px);
    top: -20px;
  }

  #shelf {
    height: 150px;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid gray;
    border-bottom: 2px solid gray;
    background-color: #F5F5F5;
  }
  
  #floor {
    height: 100px;
    width: calc(100% - 330px);
    bottom: 150px;
    border-top: 2px solid gray;
    border-bottom: 1px solid gray;
    background-color: #FAFAFA;
  }
  
  #table {
    position: fixed;
    width: 350px;
    right: -20px;
    bottom: 147px;
  }

  #happy-bar {
    transform: rotate(270deg);
    width: 200px;
    height: 25px;
    bottom: 225px;
    left: calc(63% - 225px);
  } 

  #pot{
    width: 190px;
    height: 138px;
    bottom: 5px;
    left: calc(63% - 100px);
    z-index: 2; 
  }

  #plant1{
    width: 100px;
    height: 78px;
    left: calc(63% - 60px);
    bottom: 135px;
    z-index: 1;
  }

  #plant2{
    display: none;
    width: 130px;
    height: 253px;
    left: calc(63% - 70px);
    bottom: 115px;
    z-index: 1;
  }

  #plant3{
    display: none;
    width: 175px;
    height: 310px;
    left: calc(63% - 95px);
    bottom: 115px;
    z-index: 1;
  }
  
  #cat{
    width: 300px;
    bottom: 10px;
    left: 10px;
  }

  #bubble {
    width: 300px;
    height: 152px;
    bottom: 150px;
    left: 160px;
  }

  #welcome-msg {
    bottom: 360px;
    left: 193px;
    z-index: 1;
    text-align: center;
  }

  #name-display {
    border:none;
    font-size: 30px;
    color: black;
  }
  
  #basic-msg {
    bottom: 360px;
    left: 223px;
    z-index: 1;
    text-align: center;
  }
  
  #basic-display {
    border:none;
    font-size: 30px;
    color: black;
  }

  #grown-count {
    border:none;
    font-size: 20px;
    color: black;
  }
  
  #radio{
    width: 180px;
    right: 60px;
    bottom: 430px;
  }
  
  #coin{
    width:120px;
    height: 94px;
    top: calc(50% - 47px);
    left: calc(12.5% - 100px);
  }
  
  #money{
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 94px;
    top: calc(50% - 47px);
    left: calc(12.5% + 20px);
    /* background-color: #F3F3F3; */
    font-size: 50px;
    color: #333333;
    padding-top: 19px;
    padding-left: 10px;
  }

  #cost-can {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 94px;
    top: calc(50% - 7px);
    left: calc(37.5% + 50px);
    font-size: 25px;
    color: #333333;
    padding-top: 19px;
    padding-left: 10px;
  }

  #cost-sun {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 94px;
    top: calc(50% - 7px);
    left: calc(62.5% + 65px);
    font-size: 25px;
    color: #333333;
    padding-top: 19px;
    padding-left: 10px;
  }

  #cost-fert {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 94px;
    top: calc(50% - 7px);
    left: calc(87.5% + 50px);
    font-size: 25px;
    color: #333333;
    padding-top: 19px;
    padding-left: 10px;
  }
  
  #watering-can{
    width: 150px;
    height: 110px;
    top: calc(50% - 45px);
    left: calc(37.5% - 85px);
  }
  
  #sun{
    width: 130px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(62.5% - 65px);
  }
  
  #fertilizer{
    width: 100px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(87.5% - 50px);
  }
  
  #timer-container {
    border: 2px solid gray;
    height: 150px;
    width: 400px;
    top: 10px;
    left: calc(50% - 200px);
    background-color: #FAFAFA;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    position: fixed;
  }

  #login-button {
    float:right;
    width: 150px;
    height: 50px;
    border:none;
  }

  #logout-button {
    float:right;
    width: 130px;
    height: 50px;
    left: 20px;
    border:none;
  }

  .img_clickable:hover {
    opacity: 0.5;
  }