<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>ProductiviTree</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/timer.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Raleway:wght@200&display=swap"
        rel="stylesheet">
</head>

<body>
    <input type="hidden" id="name_exists" value="{{name_exists}}" />
    <img id="background" src=" {{ url_for('static', filename='images/window.jpg') }}" draggable="false">
    {%if name_exists %}
    <div id="welcome-msg-container">
        <div id="welcome-msg">
            <span>Welcome back, </span>
            {%if long_name %}
            <br>
            {% endif %}
            <span id="name-display">{{name}}.</span>
            <br>
            <span id="grown-count">You have grown <span id="numPlants">0 plants </span>so far.</span>
        </div>
    </div>
    <input type="hidden" id="username" value="{{username}}" />
    <a href="/logout" id="logout-button"
        style="background: url('../static/images/logout-button.png'); background-size: 120px auto; background-repeat: no-repeat;">
    </a>
    <button id="instr-button" onclick="openInstr()"
        style="background: url('../static/images/instr-button.png'); background-size: 150px auto; background-repeat: no-repeat;"></button>

    {% else %}
    <div id="basic-msg">
        <span id="basic-display"> Ready to study? <br> Log in or click start!</span>
    </div>
    <a href="/login" id="login-button"
        style="background: url('../static/images/login-signup-button.png'); background-size: 150px auto; background-repeat: no-repeat;">
    </a>
    <button id="instr-button" onclick="openInstr()"
        style="background: url('../static/images/instr-button.png'); background-size: 150px auto; background-repeat: no-repeat;"></button>
    {% endif %}
    <div id="timer-container">
        <div id='visible'>
            <div id="leftcontent">
                <p id="mins" class="times">25m </p>
                <p id="secs" class="times">0s </p>
                <h2 id="end"></h2>
            </div>
            <div id="buttons">
                <p id='settings-btn'><button onClick='changeSettings()' style="background: url('../static/images/settings-button.png'); 
                    background-size: 80px auto;">
                    </button></p>
                <p id='start-pause-btn'><button onClick='startPauseBtn()' style="background: url('../static/images/start-button.png'); 
                    background-size: 80px auto;">
                    </button></p>
                <p id='stop-btn'><button onClick='stopTimes()' style="background: url('../static/images/stop-button.png'); 
                    background-size: 80px auto;">
                    </button></p>
            </div>
        </div>
    </div>
    <div id="instr-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Instructions</h1>
            <ul>
                <li>Break down your work schedule into manageable periods and breaks.</li>
                <li>Receive 1 cent for each minute worked.</li>
                <li>Use money to nurture your plant with water, sunlight or fertilizer!</li>
                <li>Customize your schedule in Settings.</li>
                <li>Try clicking on the cat or radio!</li>
            </ul>
        </div>
    </div>
    <!-- <img id="tally" src=" {{ url_for('static', filename='images/tally-poster.png') }}" alt="Tally Poster" draggable="false"> -->
    <div id="shelf">
        <img id="coin" src=" {{ url_for('static', filename='images/coin.png') }}" alt="Coin" draggable="false">
        <div id="money">25</div>
        <img class="img_clickable" id="watering-can" src=" {{ url_for('static', filename='images/watering-can.png') }}"
            alt="Watering Can" draggable="false" onclick="giveWater()">
        <div id="cost-can">10¢<br>+10pts</div>
        <img class="img_clickable" id="sun" src=" {{ url_for('static', filename='images/sun.png') }}" alt="Sun"
            draggable="false" onclick="giveSun()">
        <div id="cost-sun">20¢<br>+30pts</div>
        <img class="img_clickable" id="fertilizer" src=" {{ url_for('static', filename='images/fertilizer.png') }}"
            alt="Fertilizer" draggable="false" onclick="giveFert()">
        <div id="cost-fert">30¢<br>+50pts</div>
    </div>
    <div id="floor">
        <img id="happy-bar" src=" {{ url_for('static', filename='images/zero_points.png') }}" alt="Happiness Bar"
            draggable="false">
        <img id="pot" src=" {{ url_for('static', filename='images/pot.png') }}" alt="Pot" draggable="false">
        <img id="plant1" src=" {{ url_for('static', filename='images/plant-stage1.png') }}" alt="Plant Stage 1"
            draggable="false">
        <img id="plant2" src=" {{ url_for('static', filename='images/plant-stage2.png') }}" alt="Plant Stage 2"
            draggable="false">
        <img id="plant3" src=" {{ url_for('static', filename='images/plant-stage3.png') }}" alt="Plant Stage 3"
            draggable="false">
        <img id="bubble" src=" {{ url_for('static', filename='images/speech-bubble.png') }}" alt="Speech Bubble"
            draggable="false">
        <img class="img_clickable" id="cat" src=" {{ url_for('static', filename='images/cat.png') }}" alt="Cat"
            onCLick='purr()' draggable="false">
    </div>
    <img id="table" src=" {{ url_for('static', filename='images/table.png') }}" alt="Table" draggable="false">
    <img class="img_clickable" id="radio" src=" {{ url_for('static', filename='images/radio.png') }}" alt="Radio"
        onCLick='startRadio()' draggable="false">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-database.js"></script>
    <!-- link to index javascript file in static/js -->
    <script type="text/javascript" src=" {{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>